body {
    font-family: "Roboto", sans-serif;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.visually-hidden {
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;}
.logo {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.header-logo {
    color: #2e2f42;
}
.nav-menu {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.nav-menu :hover,
.nav-menu :focus, 
.nav-menu :active {
    color: #404bbf;
}
.contacts {
    font-style: normal;
    font-weight: 400;
font-size: 16px; 
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.contacts :hover,
.contacts :focus {
    color: #404bbf;
}
.hero {
    background: #2e2f42;
}
.hero-title {
    font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}
.btn {
    cursor: pointer;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5
}
.btn:hover {
    font-weight: 600;
    background: #404bbf;
}
h2 {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
h3 {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
p {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.our-team {
    background: #f4f4fd;
}
.footer {
    background: #2e2f42;
}
.footer-logo {
    color: #f4f4fd;
}
.footer-text {
    color: #f4f4fd;
}